/* Header */
.site-header.inicio{
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    min-height: 600px;

}