html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*Reset para  REMS - 62.5% = 10px de 16px*/
}
*,*:before, *:after{
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    line-height: 3rem;
}

/* Globales */

img {
    max-width: 100%;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}
/* Botone */
.boton{
font-size: 1.5rem;
text-decoration: none;
color: whitesmoke;
padding: 1rem 3rem;
margin-top: 3rem;
display: inline-block;
text-align: center;
}
.boton-amarillo{
background-color: gold;
}
.boton-verde{
    background-color: lawngreen;
}

/* Utilidades */
.seccion {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.fw-300 {
    font-weight: 300;
    /* Para dar el grosor de la letra delgado o gruesa*/
}

.text-center {
    text-align: center;

}

.d-block{
    display: block;
}



/* Header */
.site-header.inicio {
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* background-attachment: fixed; */
    height: 100vh;
    min-height: 600px;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1 {
    color: white;
    padding-bottom: 8rem;
    max-width: 50rem;
    /*El texto no pasara de 800px y se cortara mandando el texto abajo*/
    line-height: 2;
    /*Interlineado entre un renglon y otro*/
}



.barra {
    display: flex;
    /* Uso de Flexbox*/
    justify-content: space-between;
    /* Propiedad para aliniear*/
    align-items: center;
    padding-top: 30px;
}

/* Navegacion  */
.navegacion a {
    color: white;
    text-decoration: none;
    /*Desaparece la linea del enlace para que solo aparezca el texto*/
    font-size: 20px;
    margin-right: 20px;

}

/* Este estilo hara darle un color al enlace al momento de pasar*/
.navegacion a:hover {
    color: red;
}

/* Este estilo hara que el primer enlace no tenga espacio en el principio */
.navegacion a:last-of-type {
    margin: 0px;
}

.iconos-nosotros {
    display: flex;
    justify-content: space-between;
}

.icono {
    flex-basis: calc(33.3% -1rem);
    text-align: center;
}

.icono h3 {
    text-transform: uppercase;
}

/* Anuncios */
.contenedor-anuncios {
    display: flex;

}

.anuncio {
    flex-basis: calc(33.3% -1rem);
    margin-right: 10px;
    border: 1px solid #b5b5b5;
    background: #f5f5f5;

}

.contenido-anuncio {
    padding: 2rem;
}

.contenido-anuncio h3,
.contenido-anuncio p {
    margin: 0px;
}
.precio{
    color: lawngreen;
    font-weight: 700;
}