html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*Reset para  REMS - 62.5% = 10px de 16px*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    line-height: 3rem;
}

/* Globales */

img {
    max-width: 100%;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

.d-block {
    display: block !important;
}

/* Botone */
.boton {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    color: whitesmoke;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
}

.boton-amarillo {
    background-color: #E5A405;
}

.boton-verde {
    background-color: #73D526;
}

/* Utilidades */
.seccion {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.fw-300 {
    font-weight: 300;
    /* Para dar el grosor de la letra delgado o gruesa*/
}

.text-center {
    text-align: center;

}

/* Header */
.site-header.inicio {
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* background-attachment: fixed; */
    height: 100vh;
    min-height: 600px;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1 {
    color: white;
    padding-bottom: 8rem;
    max-width: 50rem;
    /*El texto no pasara de 800px y se cortara mandando el texto abajo*/
    line-height: 2;
    /*Interlineado entre un renglon y otro*/
}



.barra {
    display: flex;
    /* Uso de Flexbox*/
    justify-content: space-between;
    /* Propiedad para aliniear*/
    align-items: center;
    padding-top: 30px;
}

/* Navegacion  */
.navegacion a {
    color: white;
    text-decoration: none;
    /*Desaparece la linea del enlace para que solo aparezca el texto*/
    font-size: 1.8rem;
    margin-right: 20px;

}

/* Este estilo hara darle un color al enlace al momento de pasar*/
.navegacion a:hover {
    color:#60B51E;
}

/* Este estilo hara que el primer enlace no tenga espacio en el principio */
.navegacion a:last-of-type {
    margin: 0px;
}

.iconos-nosotros {
    display: flex;
    justify-content: space-between;
}

.icono {
    flex-basis: calc(33.3% -1rem);
    text-align: center;
}

.icono h3 {
    text-transform: uppercase;
}

/* Anuncios */
.contenedor-anuncios {
    display: flex;

}

.anuncio {
    flex-basis: calc(33.3% -1rem);
    margin-right: 10px;
    border: 1px solid #b5b5b5;
    background: #f5f5f5;

}

.contenido-anuncio {
    padding: 2rem;
}

.contenido-anuncio h3,
.contenido-anuncio p {
    margin: 0px;
}

.precio {
    color: lawngreen;
    font-weight: 700;
}

.iconos-caracteristicas {
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    /*Centrando el contenido*/
}

.iconos-caracteristicas li {
    display: flex;
}

.iconos-caracteristicas li img {
    margin-right: 2rem;
}

.ver-todas {
    display: flex;
    justify-content: flex-end;
}

.imagen-contacto {
    background-image: url("../img/encuentra.jpg");
    height: 40rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    /*Aliniando el texto y centrandolo en medio */
}

.contenido-contacto {
    flex: 1;
    color: white;
}

.contenido-contacto p {
    font-size: 1.6rem;
}

/* Seccion inferior */
.seccion-inferior {
    display: flex;
    justify-content: space-between;
 
}

.seccion-inferior .blog {
    flex-basis: 100%;
    margin-right: 100px;
}

.seccion-inferior .testimoniales {
    flex-basis: calc(40% -2rem);

}

.entrada-blog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    
    
}

.entrada.log:last-of-type{
    margin-bottom: 0;

}

.entrada-blog .imagen {
    flex-basis: 80%;
    margin-right: 2rem;
}


.entrada-blog .texto-entrada {
    flex-basis: calc(60% -3rem);

}
.texto-entrada a{
    color: black;
    text-decoration: none;
}
.texto-entrada h4{
    margin: 0px;
    line-height: 0.5;

}
.texto-entrada h4::after{
    content: "";
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: chartreuse;
    margin-top: 1rem;
}
.texto-entrada span{
    color: #E5A405;
}

.testimonial{
    background-color: #73D526;
    font-size: 2rem;
    color: white;
    padding: 2rem;
    height: 25rem;
    border-radius: 2rem;
}

.testimonial p{
    text-align: right;
    

}
.testimonial blockquote::before{
    content: "";
    background-image: url(../img/comilla.svg);
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -1rem;
    top: -2rem;
    
}
.testimonial blockquote{
    position: relative;
    padding-left: 5rem;
    font-weight: 300;
}

.site-footer{
    background-color:#2D2D2D;
    margin: 0px;

}
.contenedor-footer{
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}
.copryright{
    margin: 0px;
    color: white;
    font-size: 1.6rem;
}